#footer{
    position: absolute;
    width: 70%;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
#nav{
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    font-family: 'Segoe UI';
    font-size: 22px;
    color: black;
    text-decoration-color: white;
    margin: 0 auto;
    padding: 1em;
}
.isLink {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}